@import '../../globals';

.landing {
  height: 100%;
  padding-top: 10px;

  img {
    display: inherit;
    margin: 40px auto 0 auto
  }

  .login-form {
    margin-top: 50px;
  }

  .form-submit-btn {
    margin-top: 15px;
    text-align: center;
  }
}